# Ignore everything
/*

# But NOT these folders (un-ignore)

!langchain-rfp/
!langchain-rfp/**
!langgraph_2/
!langgraph_2/**
!phidata/
!phidata/**
!sidekick/
!sidekick/**
!E2EAgent/
!E2EAgent/**
!E2E_chat_rag/
!E2E_chat_rag/**

# Optionally, do not ignore .gitignore itself
!.gitignore

# Ignore all .env files everywhere
*.env.env
